@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.header-box {
    background-color: #f2f2f2;
    padding: 20px;
    border-bottom: 2px solid #ddd;
    text-align: center;
  }

  .header-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .header-subtitle {
    font-size: 18px;
    color: #666;
  }

  .logoguia{
    width: 10%;
  }
  /* Estilos para la barra de navegación */
nav {
    height: 14%;
    background-color: #e91e63;
  }
      nav ul {
          margin: 0;
          padding: 0;
          list-style: none;
          padding-right: 20px;
      }
      
          nav ul li {
              display: inline-block;
              line-height: 80px;
          }
              
              nav ul li a {
                  display: block;
                  padding: 0 25px;
                color: #ffffff;
                text-decoration: none;
              }
              
                  nav ul li a:hover {
                      background: #FF637D;
            color: #ffffff;
                  } 
          .noticia {
     
            padding: 10px;
            margin: 10px;
            transition: transform 0.3s; /* Transición de zoom */
              display: flex;
              flex-direction: column;
              margin: 10px;
          
          /* Otros estilos CSS según tus necesidades */
          
        }
        
        .noticia:hover {
            transform: scale(1.05); /* Zoom al 105% del tamaño original al pasar el mouse */
        }
        
        .post-link {
            display: block;
            text-align: center;
            margin-top: 10px;
        }
        .linea {
            border-top: 3px solid #e91e63;
            height: 2px;
            padding: 0;
          }
        
        h1 {
          text-align: center;
          padding: 20px;

          margin: 0;
          font-family: 'Montserrat', sans-serif;
        }
/* Estilos CSS para ventana emergente mision/vision */
button{
  padding: 0.0em 0.0em;
  border: none;
}

      dialog{
        border: none;
        padding: 15px 25px;
        border-radius: 1.25em;
        background:#FF637D; 
        box-shadow:0 0 64px rgba(0,0,0,0.5); 
        color: #fff;
        position: fixed;
        top: 50%;
        right: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
      }

      /* Estilos para NOTICIAS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.post-list{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
}

.content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.post-img-1{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}
.post-img-2{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}
.post-img-3{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post{
  box-shadow: 0 1px 6px rgba(0,0,0,.1) ;
  overflow: hidden;
  transition: .2s;
}

.post:hover{
  transform: translateY(-4px);
}

.post-header{
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3{
  transform: scale(1.1);
}

.post-body{
  padding: 15px;
  text-align: center;
}

.post-body span{
  display: inline-block;
  color: #999;
  margin-bottom: 10px;
}

.post-body h2{
  margin-bottom: 15px;
}

.post-body p{
  line-height: 1.5;
  margin-bottom: 20px;
}

.post-body .post-link{
  display: block;
  text-decoration: none;
  padding: 10px;
  background: #e91e63;
  color: #fff;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 2px 6px 1px rgba(0,0,0,rgba(0,0,0,.1));
  transition: .2s;
}

.post-body .post-link:hover{
  background: #FF637D;
  box-shadow: 1px 2px 6px 1px rgba(0,0,0,rgba(0,0,0,.2));
  transform: translateY(-2px);
}

@media (max-width: 840px) {
.content{
  grid-template-columns: repeat(2, 1fr);
}  
}

@media (max-width: 600px) {
  .content{
    grid-template-columns: repeat(2, 1fr);
  }  
  }

   /*Estilo Cabildo*/
.image-effect {
  transition: transform 0.3s, filter 0.3s;
}
.image-effect:hover {
  transform: scale(1.1); /* Cambia el valor según la preferencia para el aumento de tamaño */
  filter: brightness(1.2); /* Cambia el valor según la preferencia para el cambio de color */
}

/*Estilo titulos*/
.titulos {
  border-bottom: 2px solid #F50087;
  font-weight: bold;
}
/*estilo Hipervinculos hasta abajo*/

.image-container {
  text-align: center; 
}

.centered-links {
  text-align: center; 
}

.centered-links a {
  text-decoration: none; 
  margin: 0 10px; 
}

  /*Estilo Footer*/
footer{
  font-size: 16px;
  text-decoration: none; 
  color: #fff;
}

